[package]
name = "ochat"
version = "0.3.6"
edition = "2021"
authors = ["Creative Coders <officialccoders@gmail.com>"]
description = "A chatbot application that uses Ollama AIs."
repository = "https://github.com/CodersCreative/ollama-chat-iced"
readme = "README.md"
publish = true
keywords = ["ai", "iced", "chat", "chatbot", "ollama"]
categories = ["gui", "accessibility"]
license = "MIT"

[features]
voice = ["dep:kalosm-sound", "dep:rodio", "sound"]
sound = ["dep:natural-tts"]

[dependencies]
ollama-rs = { version = "0.3.0", features = ["headers", "stream", "tool-implementations"] }
rand = "0.8.5"
serde = { version = "1.0.201", features = ["derive"] }
serde_json = "1.0.117"
text-splitter = "0.10.0"
tokio = { version = "1.37.0", features = ["full"] }
iced = { version = "0.13.1", features = ["tokio", "image", "markdown", "svg", "advanced", ]}
color-art = "0.3.8"
cli-clipboard = "0.4.0"
open = "5.3.2"
image = "0.25.6"
base64-stream = "4.0.0"
rfd = "0.15.3"
url = "2.5.4"
reqwest = "0.12.15"
regex = "1.11.1"
tantivy = "0.22.0"
thiserror = "2.0"
natural-tts = { version = "0.2.1", features = ["gtts", "tts-rs"], optional = true}
kalosm-sound = {version ="0.4.0", optional = true}
rodio = {version = "0.20.1", optional = true}
derive_builder = { version = "0.20.2"}
uuid = { version = "1.16.0", features = ["v4", "v7"] }
getset = "0.1.5"
clipboard-rs = "0.2.4"
rusqlite = { version = "0.35.0", features = ["bundled"] }
